.buttonNums{
    cursor: pointer;
    border: none;
    border-style: outset;
    width: 40px;
    height: 40px;
    margin: 4px;
    font-weight: bold;
    font-size: large;
}
.numStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    width: 163px;
}
.buttonNums:active{
    transform: translateY(2px);
}